.RPSgame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.player {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.computer {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

button {
    max-width: fit-content;
}

#winner {
    display: flex;
    flex-direction: column;
}

#scoreboard {
    display: flex;
    flex-direction: column;
}